# Python vs Java vs C Experiments

### Setting things up

In [28]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [29]:
import os
from pandas import DataFrame
from typing import List

from metrics.vector import pearson, cooccurences, summarize_cooccurences
from metrics.merge import Merge, read_merges
from metrics.matrix import pearson_matrix, cooccurence_matrix

### Loading merges

In [30]:
java_merges_file = "/home/lv71161/hlibbabii/.config/dataprep/1.0.0-alpha/bpe/small_chunk_19-05-22T17-59-55/10000/merges.txt"
python_merges_file = "/home/lv71161/hlibbabii/.config/dataprep/1.0.0-alpha/bpe/python_19-05-20T00-48-25/10000/merges.txt"
c_merges_file = "/home/lv71161/hlibbabii/.config/dataprep/1.0.0-alpha/bpe/c_19-05-24T08-55-52/10000/merges.txt"

java_nocase_merges_file = "/home/lv71161/hlibbabii/.config/dataprep/1.0.0-alpha/bpe/small_chunk_nocase_19-05-24T19-40-05/10000/merges.txt"
python_nocase_merges_file = "/home/lv71161/hlibbabii/.config/dataprep/1.0.0-alpha/bpe/python_nocase_19-05-24T19-41-52/10000/merges.txt"
c_nocase_merges_file = "/home/lv71161/hlibbabii/.config/dataprep/1.0.0-alpha/bpe/c_nocase_19-05-24T19-41-10/10000/merges.txt"

java_merges = read_merges(java_merges_file)
python_merges = read_merges(python_merges_file)
c_merges = read_merges(c_merges_file)

java_nocase_merges = read_merges(java_nocase_merges_file)
python_nocase_merges = read_merges(python_nocase_merges_file)
c_nocase_merges = read_merges(c_nocase_merges_file)

In [31]:
print(f"N merges: {len(python_merges)}")
python_merges[:10], python_nocase_merges[:10]

N merges: 10000

([('\\', '\\'): 5050789,
  ('\\', "'"): 1534342,
  ('s', 'e'): 1113570,
  ('t', 'e'): 855855,
  ('i', 'n'): 852704,
  ('o', 'n'): 851730,
  ('r', 'e'): 840195,
  ('s', 't'): 711704,
  ('l', 'e'): 650553,
  ('a', 'l'): 548889],
 [('\\', '\\'): 10101578,
  ('\\', "'"): 3068684,
  ('s', 'e'): 2323188,
  ('i', 'n'): 1870736,
  ('t', 'e'): 1856902,
  ('r', 'e'): 1790498,
  ('o', 'n'): 1758958,
  ('s', 't'): 1490566,
  ('l', 'e'): 1376906,
  ('a', 'l'): 1154498])

In [32]:
print(f"N merges: {len(java_merges)}")
java_merges[:10], java_nocase_merges[:10]

N merges: 10000

([('\\', '\\'): 1880641,
  ('e', 'r'): 447509,
  ('o', 'n'): 404945,
  ('\\', 't'): 319763,
  ('o', 'r'): 311230,
  ('t', 'i'): 308509,
  ('i', 'n'): 274370,
  ('e', 't'): 255731,
  ('e', 'n'): 243685,
  ('e', 's'): 242396],
 [('\\', '\\'): 1880641,
  ('e', 'r'): 462971,
  ('o', 'n'): 424580,
  ('i', 'n'): 350414,
  ('r', 'e'): 334290,
  ('\\', 't'): 319763,
  ('t', 'i'): 314714,
  ('s', 't'): 309712,
  ('o', 'r'): 308089,
  ('e', 'n'): 247251])

In [33]:
print(f"N merges: {len(c_merges)}")
c_merges[:10], c_nocase_merges[:10]

N merges: 10000

([('\\', '\\'): 16840145,
  ('i', 'n'): 1721676,
  ('r', 'e'): 1717501,
  ('d', 'e'): 1430342,
  ('s', 't'): 1307662,
  ('a', 't'): 1189279,
  ('e', 'r'): 1139720,
  ('0', '0'): 986828,
  ('t', 'i'): 825342,
  ('s', 'e'): 771446],
 [('\\', '\\'): 16779596,
  ('i', 'n'): 2026487,
  ('r', 'e'): 1962547,
  ('d', 'e'): 1634017,
  ('s', 't'): 1480094,
  ('e', 'r'): 1373186,
  ('a', 't'): 1338654,
  ('0', '0'): 960346,
  ('s', 'e'): 928712,
  ('t', 'i'): 899107])

### Metric 1. Pearson

In [34]:
n_merges = 1000
print(f"N merges: {n_merges//1000}k, case")
m = pearson_matrix([java_merges[:n_merges], python_merges[:n_merges], c_merges[:n_merges]])
DataFrame(m).round(3)

N merges: 1k, case

       0      1      2
0  1.000  0.864  0.895
1  0.864  1.000  0.893
2  0.895  0.893  1.000

In [35]:
n_merges = 1000
print(f"N merges: {n_merges//1000}k, NO case")
m = pearson_matrix([java_nocase_merges[:n_merges], python_nocase_merges[:n_merges], c_nocase_merges[:n_merges]])
DataFrame(m).round(3)

N merges: 1k, NO case

       0      1      2
0  1.000  0.896  0.901
1  0.896  1.000  0.892
2  0.901  0.892  1.000

In [36]:
n_merges = 10000
print(f"N merges: {n_merges//1000}k, case")
m = pearson_matrix([java_merges[:n_merges], python_merges[:n_merges], c_merges[:n_merges]])
DataFrame(m).round(3)

N merges: 10k, case

       0      1      2
0  1.000  0.869  0.896
1  0.869  1.000  0.894
2  0.896  0.894  1.000

In [37]:
n_merges = 10000
print(f"N merges: {n_merges//1000}k, NO case")
m = pearson_matrix([java_nocase_merges[:n_merges], python_nocase_merges[:n_merges], c_nocase_merges[:n_merges]])
DataFrame(m).round(3)

N merges: 10k, NO case

       0      1      2
0  1.000  0.900  0.902
1  0.900  1.000  0.894
2  0.902  0.894  1.000

### Metric 2. Bpe merges cooccurrences

In [38]:
n_merges = 1000
print(f"N merges: {n_merges//1000}k, case")
lst = [java_merges[:n_merges], python_merges[:n_merges], c_merges[:n_merges]]
m = cooccurence_matrix(lst, lst)
DataFrame(m).round(3)

N merges: 1k, case

       0      1      2
0  1.000  0.365  0.320
1  0.365  1.000  0.404
2  0.320  0.404  1.000

In [39]:
n_merges = 1000
print(f"N merges: {n_merges//1000}k, NO case")
lst = [java_nocase_merges[:n_merges], python_nocase_merges[:n_merges], c_nocase_merges[:n_merges]]
m = cooccurence_matrix(lst, lst)
DataFrame(m).round(3)

N merges: 1k, NO case

       0     1      2
0  1.000  0.47  0.413
1  0.470  1.00  0.430
2  0.413  0.43  1.000

In [40]:
n_merges = 10000
print(f"N merges: {n_merges//1000}k, case")
lst = [java_merges[:n_merges], python_merges[:n_merges], c_merges[:n_merges]]
m = cooccurence_matrix(lst, lst)
DataFrame(m).round(3)

N merges: 10k, case

       0      1      2
0  1.000  0.347  0.299
1  0.347  1.000  0.359
2  0.299  0.359  1.000

In [41]:
n_merges = 10000
print(f"N merges: {n_merges//1000}k, NO case")
lst = [java_nocase_merges[:n_merges], python_nocase_merges[:n_merges], c_nocase_merges[:n_merges]]
m = cooccurence_matrix(lst, lst)
DataFrame(m).round(3)

N merges: 10k, NO case

       0      1      2
0  1.000  0.391  0.322
1  0.391  1.000  0.333
2  0.322  0.333  1.000

### Loading vocabs

In [42]:
from dataprep import bperegistry
from metrics.matrix import merge_similarity_rate_matrix
from pandas import DataFrame

java_bpe_vocab = bperegistry.load_base_vocab('small_chunk-10000')
python_bpe_vocab = bperegistry.load_base_vocab('python-10000')
c_bpe_vocab = bperegistry.load_base_vocab('c-10000')

java_all_vocab = bperegistry.load_all_vocab('small_chunk-10000')
python_all_vocab = bperegistry.load_all_vocab('python-10000')
c_all_vocab = bperegistry.load_all_vocab('c-10000')

java_nocase_bpe_vocab = bperegistry.load_base_vocab('small_chunk_nocase-10000')
python_nocase_bpe_vocab = bperegistry.load_base_vocab('python_nocase-10000')
c_nocase_bpe_vocab = bperegistry.load_base_vocab('c_nocase-10000')

java_nocase_all_vocab = bperegistry.load_all_vocab('small_chunk_nocase-10000')
python_nocase_all_vocab = bperegistry.load_all_vocab('python_nocase-10000')
c_nocase_all_vocab = bperegistry.load_all_vocab('c_nocase-10000')

In [43]:
list(java_bpe_vocab.items())[:200]

[('\\\\', 1880641),
 ('n', 1133884),
 ('t', 488942),
 ('\\t', 319763),
 ('get', 108939),
 ('the', 107340),
 ('_', 76549),
 ('String', 63861),
 ('nimport', 61279),
 ('Exception', 42147),
 ('org', 41915),
 ('of', 36648),
 ('0', 34004),
 ('is', 33581),
 ('to', 33490),
 ('set', 33190),
 ('1', 31542),
 ('License', 30577),
 ('tpublic', 27799),
 ('a', 27661),
 ('2', 24965),
 ('Name', 22715),
 ("\\'", 22005),
 ('List', 19667),
 ('or', 19356),
 ('in', 19339),
 ('java', 18556),
 ('Id', 18171),
 ('param', 16241),
 ('treturn', 15694),
 ('value', 15614),
 ('and', 15602),
 ('add', 15198),
 ('i', 14702),
 ('Request', 14334),
 ('com', 14189),
 ('Context', 13357),
 ('Class', 13348),
 ('File', 12920),
 ('Object', 12839),
 ('not', 12626),
 ('under', 12425),
 ('tif', 12359),
 ('file', 12128),
 ('Map', 12062),
 ('The', 11932),
 ('e', 11838),
 ('Type', 11817),
 ('Test', 11796),
 ('util', 11577),
 ('Override', 11069),
 ('it', 11054),
 ('with', 11035),
 ('name', 10841),
 ('Value', 10808),
 ('tprivate', 10728),
 ('apache', 10636),
 ('Service', 10491),
 ('Connection', 10149),
 ('test', 10132),
 ('This', 10016),
 ('by', 9947),
 ('Version', 9871),
 ('model', 9618),
 ('code', 9548),
 ('Factory', 9538),
 ('distributed', 9465),
 ('be', 9451),
 ('http', 9294),
 ('Set', 9166),
 ('\\n', 9090),
 ('result', 9082),
 ('3', 9001),
 ('Key', 8845),
 ('request', 8784),
 ('npublic', 8758),
 ('version', 8557),
 ('on', 8457),
 ('Data', 8420),
 ('Public', 8389),
 ('See', 8265),
 ('Message', 8246),
 ('user', 8205),
 ('software', 8154),
 ('context', 8093),
 ('Model', 8052),
 ('Equals', 8021),
 ('that', 7924),
 ('create', 7816),
 ('General', 7755),
 ('ID', 7672),
 ('out', 7670),
 ('Manager', 7661),
 ('System', 7647),
 ('append', 7588),
 ('write', 7548),
 ('GNU', 7537),
 ('as', 7413),
 ('copy', 7297),
 ('Resource', 7271),
 ('Query', 7255),
 ('c', 7189),
 ('service', 7138),
 ('you', 7085),
 ('Array', 7010),
 ('s', 6948),
 ('an', 6925),
 ('A', 6912),
 ('Artifact', 6911),
 ('may', 6829),
 ('View', 6816),
 ('Listener', 6601),
 ('at', 6564),
 ('Flow', 6483),
 ('4', 6373),
 ('Event', 6364),
 ('To', 6298),
 ('ANY', 6272),
 ('author', 6246),
 ('Text', 6184),
 ('www', 6174),
 ('J', 6127),
 ('Stream', 6066),
 ('id', 6006),
 ('key', 5995),
 ('IO', 5967),
 ('p', 5944),
 ('message', 5870),
 ('springframework', 5754),
 ('Copyright', 5741),
 ('You', 5726),
 ('Source', 5697),
 ('type', 5682),
 ('Property', 5682),
 ('Session', 5657),
 ('npackage', 5624),
 ('WITHOUT', 5620),
 ('method', 5613),
 ('tthis', 5613),
 ('Software', 5607),
 ('exception', 5550),
 ('Handler', 5548),
 ('State', 5497),
 ('javax', 5488),
 ('Action', 5488),
 ('use', 5480),
 ('implied', 5456),
 ('x', 5369),
 ('size', 5308),
 ('io', 5266),
 ('m', 5239),
 ('Repository', 5195),
 ('either', 5184),
 ('link', 5184),
 ('Field', 5160),
 ('length', 5151),
 ('OF', 5148),
 ('jboss', 5146),
 ('end', 5129),
 ('Execution', 5129),
 ('equals', 5126),
 ('Lesser', 5112),
 ('Date', 5072),
 ('tassert', 5067),
 ('see', 5063),
 ('Code', 5031),
 ('Not', 4975),
 ('Path', 4893),
 ('liferay', 4873),
 ('Result', 4857),
 ('should', 4833),
 ('put', 4819),
 ('Logger', 4782),
 ('licenses', 4772),
 ('Time', 4762),
 ('OR', 4750),
 ('start', 4734),
 ('Foundation', 4717),
 ('Method', 4694),
 ('Group', 4654),
 ('will', 4632),
 ('data', 4590),
 ('Hash', 4554),
 ('Server', 4545),
 ('session', 4543),
 ('source', 4494),
 ('object', 4477),
 ('Index', 4473),
 ('j', 4410),
 ('Command', 4392),
 ('Impl', 4390),
 ('Plugin', 4387),
 ('Integer', 4387),
 ('User', 4342),
 ('IS', 4335),
 ('Domain', 4326),
 ('flow', 4312),
 ('maven', 4270),
 ('Builder', 4268),
 ('Config', 4267)]

In [44]:
list(python_bpe_vocab.items())[:200]

[('\\\\', 5050789),
 ('n', 3221967),
 ('_', 2141551),
 ("\\'", 1534342),
 ('self', 511907),
 ('\\t', 217064),
 ('1', 207439),
 ('the', 197437),
 ('0', 189946),
 ('name', 137381),
 ('2', 132927),
 ('to', 127392),
 ('a', 120004),
 ('is', 118939),
 ('in', 117364),
 ('module', 112276),
 ('type', 95567),
 ('test', 94931),
 ('None', 87886),
 ('of', 87883),
 ('x', 85059),
 ('get', 77428),
 ('not', 75567),
 ('s', 73069),
 ('3', 70776),
 ('True', 69080),
 ('and', 69037),
 ('Error', 62479),
 ('description', 61324),
 ('result', 59035),
 ('data', 58871),
 ('dict', 57964),
 ('False', 57683),
 ('Equal', 55747),
 ('value', 52758),
 ('str', 52715),
 ('or', 50878),
 ('b', 48141),
 ('path', 44879),
 ('list', 43963),
 ('5', 43276),
 ('params', 41616),
 ('state', 41487),
 ('be', 40961),
 ('default', 40519),
 ('set', 38323),
 ('np', 38127),
 ('4', 37726),
 ('nfrom', 35580),
 ('f', 35243),
 ('c', 35197),
 ('id', 35104),
 ('key', 34944),
 ('check', 34599),
 ('required', 33381),
 ('index', 32760),
 ('X', 32447),
 ('msg', 31322),
 ('file', 30999),
 ('args', 30241),
 ('The', 29955),
 ('expected', 28547),
 ('d', 28193),
 ('y', 27698),
 ('json', 27528),
 ('C', 27215),
 ('Test', 27121),
 ('e', 27101),
 ('on', 27063),
 ('t', 26654),
 ('that', 26640),
 ('ndef', 26306),
 ('version', 26154),
 ('values', 25880),
 ('by', 25527),
 ('int', 25066),
 ('changed', 24667),
 ('i', 24513),
 ('format', 24169),
 ('object', 24047),
 ('config', 23619),
 ('r', 23298),
 ('ansible', 23294),
 ('equal', 23248),
 ('df', 23234),
 ('A', 23167),
 ('8', 23120),
 ('6', 22868),
 ('response', 22761),
 ('10', 22592),
 ('group', 22527),
 ('os', 22381),
 ('array', 21968),
 ('this', 21514),
 ('dtype', 21432),
 ('all', 21227),
 ('it', 20881),
 ('server', 20827),
 ('spec', 20509),
 ('00', 20272),
 ('len', 20213),
 ('create', 20182),
 ('new', 19866),
 ('utils', 19670),
 ('append', 19443),
 ('Ansible', 19442),
 ('client', 19272),
 ('are', 19255),
 ('host', 19196),
 ('mode', 18499),
 ('an', 18474),
 ('obj', 18306),
 ('user', 18096),
 ('argument', 18058),
 ('v', 18026),
 ('Module', 17864),
 ('u', 17770),
 ('string', 17735),
 ('returned', 17721),
 ('add', 17676),
 ('fail', 17312),
 ('no', 17092),
 ('sample', 17069),
 ('p', 16961),
 ('present', 16960),
 ('network', 16832),
 ('choices', 16805),
 ('field', 16556),
 ('If', 16502),
 ('will', 16380),
 ('update', 16313),
 ('password', 16302),
 ('nclass', 15954),
 ('nimport', 15875),
 ('This', 15842),
 ('size', 15755),
 ('model', 15689),
 ('Value', 15666),
 ('text', 15510),
 ('foo', 15280),
 ('output', 15279),
 ('range', 15277),
 ('command', 15244),
 ('method', 15098),
 ('time', 15095),
 ('error', 15045),
 ('objects', 14977),
 ('datetime', 14975),
 ('7', 14764),
 ('kwargs', 14562),
 ('Raises', 14527),
 ('can', 14488),
 ('port', 14440),
 ('shape', 14430),
 ('tm', 14339),
 ('max', 14304),
 ('mock', 14251),
 ('use', 14093),
 ('main', 14076),
 ('request', 13915),
 ('status', 13896),
 ('instance', 13887),
 ('line', 13784),
 ('init', 13753),
 ('address', 13734),
 ('url', 13634),
 ('Index', 13423),
 ('Type', 13359),
 ('info', 13268),
 ('connection', 13230),
 ('m', 13108),
 ('function', 13062),
 ('bool', 12946),
 ('Data', 12937),
 ('used', 12928),
 ('run', 12900),
 ('ip', 12841),
 ('match', 12812),
 ('should', 12772),
 ('other', 12685),
 ('models', 12593),
 ('when', 12579),
 ('01', 12527),
 ('code', 12462),
 ('frame', 12390),
 ('pd', 12385),
 ('pytest', 12377),
 ('random', 12365),
 ('64', 12342),
 ('sys', 12170),
 ('com', 12012),
 ('9', 11987),
 ('\\n', 11956),
 ('start', 11947),
 ('read', 11911),
 ('https', 11902),
 ('results', 11894),
 ('cmd', 11821),
 ('input', 11721),
 ('have', 11707)]

In [45]:
list(c_bpe_vocab.items())[:200]

[('\\\\', 16840145),
 ('_', 7596271),
 ('n', 7531353),
 ('t', 5777498),
 ('0', 1003819),
 ('x', 560986),
 ('\\t', 487831),
 ('tif', 426522),
 ('1', 381609),
 ('the', 333974),
 ('2', 325263),
 ('treturn', 260662),
 ('dev', 255920),
 ('i', 246728),
 ('to', 223360),
 ('nstatic', 207303),
 ('tstruct', 156039),
 ('data', 145395),
 ('3', 139210),
 ('4', 131559),
 ('p', 131009),
 ('s', 126695),
 ('h', 124464),
 ('is', 119234),
 ('device', 119054),
 ('0x00', 117527),
 ('of', 116942),
 ('32', 116044),
 ('a', 114089),
 ('8', 113436),
 ('include', 109705),
 ('d', 102598),
 ('c', 102308),
 ('in', 99357),
 ("\\'", 99278),
 ('lock', 99030),
 ('info', 97579),
 ('tint', 94022),
 ('and', 93588),
 ('u', 92819),
 ('NULL', 92492),
 ('00', 86579),
 ('flags', 85326),
 ('define', 81467),
 ('tcase', 80298),
 ('len', 77907),
 ('set', 76541),
 ('size', 76022),
 ('addr', 75307),
 ('16', 74868),
 ('port', 74310),
 ('get', 71993),
 ('name', 71523),
 ('state', 69902),
 ('init', 69831),
 ('tbreak', 69128),
 ('write', 68420),
 ('linux', 67530),
 ('buf', 67405),
 ('err', 66148),
 ('read', 65855),
 ('id', 63939),
 ('6', 63240),
 ('tgoto', 61892),
 ('priv', 60813),
 ('skb', 60766),
 ('be', 60662),
 ('status', 60391),
 ('5', 57101),
 ('reg', 56945),
 ('type', 56563),
 ('buffer', 54682),
 ('out', 53904),
 ('this', 53399),
 ('irq', 53397),
 ('list', 53152),
 ('it', 52968),
 ('we', 52662),
 ('inode', 52516),
 ('count', 52128),
 ('file', 51723),
 ('tunsigned', 50643),
 ('cpu', 50135),
 ('S', 49476),
 ('ret', 49370),
 ('C', 48925),
 ('driver', 46233),
 ('tu', 46164),
 ('mode', 45557),
 ('tprintk', 45300),
 ('snd', 45115),
 ('start', 45064),
 ('page', 45034),
 ('tx', 44491),
 ('cmd', 44307),
 ('value', 43312),
 ('b', 42875),
 ('on', 42404),
 ('free', 42269),
 ('7', 41806),
 ('error', 41696),
 ('rx', 41648),
 ('pci', 41037),
 ('not', 40333),
 ('or', 40312),
 ('tspin', 40223),
 ('KERN', 40097),
 ('hw', 39895),
 ('B', 39044),
 ('unlock', 38960),
 ('A', 38654),
 ('from', 38508),
 ('entry', 38437),
 ('endif', 38319),
 ('net', 38311),
 ('dma', 38102),
 ('tfor', 37396),
 ('tp', 37346),
 ('offset', 37137),
 ('chip', 36187),
 ('that', 35989),
 ('64', 35972),
 ('base', 35927),
 ('e', 35468),
 ('node', 35421),
 ('user', 35115),
 ('card', 34657),
 ('telse', 34644),
 ('val', 34605),
 ('0x0000', 34562),
 ('host', 34298),
 ('PCI', 34008),
 ('F', 33818),
 ('bit', 33518),
 ('new', 33378),
 ('by', 33235),
 ('This', 32907),
 ('REG', 32841),
 ('10', 32811),
 ('with', 32740),
 ('f', 32492),
 ('block', 32167),
 ('queue', 32039),
 ('ptr', 31611),
 ('SIZE', 31498),
 ('sk', 31286),
 ('DEBUG', 30920),
 ('ERR', 30844),
 ('next', 30796),
 ('9', 30786),
 ('tdev', 30547),
 ('attr', 30154),
 ('index', 30153),
 ('mask', 29888),
 ('I', 29828),
 ('ID', 29624),
 ('adapter', 29021),
 ('table', 28727),
 ('m', 28693),
 ('length', 28508),
 ('are', 28395),
 ('ops', 28265),
 ('max', 28262),
 ('regs', 28070),
 ('usb', 28062),
 ('tret', 27776),
 ('r', 27351),
 ('l', 27292),
 ('address', 27069),
 ('num', 26491),
 ('D', 26388),
 ('terr', 26358),
 ('config', 26255),
 ('bus', 26037),
 ('request', 25999),
 ('CONFIG', 25966),
 ('end', 25934),
 ('E', 25783),
 ('req', 25135),
 ('msg', 24916),
 ('X', 24498),
 ('timer', 24492),
 ('can', 24484),
 ('sb', 24457),
 ('ifdef', 24374),
 ('at', 24305),
 ('as', 24277),
 ('The', 24099),
 ('map', 23888),
 ('key', 23806),
 ('rc', 23741),
 ('R', 23691),
 ('pdev', 23644),
 ('MAX', 23595),
 ('MODULE', 23590),
 ('Ad', 23443),
 ('no', 23210),
 ('v', 23012),
 ('j', 22873),
 ('desc', 22749)]

### Metric 3. Merge similarity rate matrix

In [46]:
n_merges = 1000
print(f"N merges: {n_merges//1000}k, case, without keywords and operators")
m = merge_similarity_rate_matrix([java_bpe_vocab, python_bpe_vocab, c_bpe_vocab], 
                                 [java_merges[:n_merges], python_merges[:n_merges], c_merges[:n_merges]])

DataFrame(m).round(3)

N merges: 1k, case, without keywords and operators

       0      1      2
0  1.000  0.720  0.673
1  0.737  1.000  0.751
2  0.753  0.784  1.000

In [47]:
n_merges = 1000
print(f"N merges: {n_merges//1000}k, case, including keywords and operators")
m = merge_similarity_rate_matrix([java_all_vocab, python_all_vocab, c_all_vocab], 
                                 [java_merges[:n_merges], python_merges[:n_merges], c_merges[:n_merges]])

DataFrame(m).round(3)

N merges: 1k, case, including keywords and operators

       0      1      2
0  1.000  0.814  0.785
1  0.822  1.000  0.832
2  0.837  0.860  1.000

In [48]:
n_merges = 10000
print(f"N merges: {n_merges//1000}k, NO case, without keywords and operators")
m = merge_similarity_rate_matrix([java_nocase_bpe_vocab, python_nocase_bpe_vocab, c_nocase_bpe_vocab], 
                                 [java_nocase_merges[:n_merges], python_nocase_merges[:n_merges], c_nocase_merges[:n_merges]])

DataFrame(m).round(3)

N merges: 10k, NO case, without keywords and operators

       0      1      2
0  1.000  0.939  0.897
1  0.935  1.000  0.916
2  0.890  0.893  1.000

In [49]:
n_merges = 10000
print(f"N merges: {n_merges//1000}k, NO case, including keywords and operators")
m = merge_similarity_rate_matrix([java_nocase_all_vocab, python_nocase_all_vocab, c_nocase_all_vocab], 
                                 [java_nocase_merges[:n_merges], python_nocase_merges[:n_merges], c_nocase_merges[:n_merges]])

DataFrame(m).round(3)

N merges: 10k, NO case, including keywords and operators

       0      1      2
0  1.000  0.957  0.917
1  0.953  1.000  0.935
2  0.891  0.894  1.000

### Metric 4. Corpora sizes

### prep with 5K merges

In [58]:
java_java_path = "/home/lv71161/hlibbabii/raw_datasets/allamanis/small_chunk_19-05-22T17-59-55_preprocessed_00900_small_chunk-5000"
java_python_path = "/home/lv71161/hlibbabii/raw_datasets/allamanis/small_chunk_19-05-22T17-59-55_preprocessed_00900_python-5000"
java_c_path = "/home/lv71161/hlibbabii/raw_datasets/allamanis/small_chunk_19-05-22T17-59-55_preprocessed_00900_c-5000"

python_java_path = "/home/lv71161/hlibbabii/raw_datasets/python_19-05-20T00-48-25_preprocessed_00900_small_chunk-5000"
python_python_path = "/home/lv71161/hlibbabii/raw_datasets/python_19-05-20T00-48-25_preprocessed_00900_python-5000"
python_c_path = "/home/lv71161/hlibbabii/raw_datasets/python_19-05-20T00-48-25_preprocessed_00900_c-5000"

c_java_path = "/home/lv71161/hlibbabii/raw_datasets/c_19-05-24T08-55-52_preprocessed_00900_small_chunk-5000"
c_python_path = "/home/lv71161/hlibbabii/raw_datasets/c_19-05-24T08-55-52_preprocessed_00900_python-5000"
c_c_path= "/home/lv71161/hlibbabii/raw_datasets/c_19-05-24T08-55-52_preprocessed_00900_c-5000"

In [51]:
%%bash -s "$java_java_path" "$java_python_path" "$java_c_path"
echo "java corpus prep with bpe codes learn on the corpora: java, python, c; CASE"
source "$HOME/.bashrc"
n1=$(tc "$1")
n2=$(tc "$2")
n3=$(tc "$3")
n=$n1
for ni in $n1 $n2 $n3; do
    echo "print(f\"${ni} ({${ni}/${n}:.3f})\")" | python
done

java corpus prep with bpe codes learn on the corpora: java, python, c; CASE
16646436 (1.000)
18744497 (1.126)
20742165 (1.246)

In [52]:
%%bash -s "$python_java_path" "$python_python_path" "$python_c_path"
echo "python corpus prep with bpe codes learn on the corpora: java, python, c; CASE"
source "$HOME/.bashrc"
n1=$(tc "$1")
n2=$(tc "$2")
n3=$(tc "$3")
n=$n2
for ni in $n1 $n2 $n3; do
    echo "print(f\"${ni} ({${ni}/${n}:.3f})\")" | python
done

python corpus prep with bpe codes learn on the corpora: java, python, c; CASE
56605830 (1.164)
48636302 (1.000)
57059920 (1.173)

In [53]:
%%bash -s "$c_java_path" "$c_python_path" "$c_c_path"
echo "c corpus prep with bpe codes learn on the corpora: java, python, c; CASE"
source "$HOME/.bashrc"
n1=$(tc "$1")
n2=$(tc "$2")
n3=$(tc "$3")
n=$n3
for ni in $n1 $n2 $n3; do
    echo "print(f\"${ni} ({${ni}/${n}:.3f})\")" | python
done

c corpus prep with bpe codes learn on the corpora: java, python, c; CASE
150253792 (1.162)
148516447 (1.149)
129288362 (1.000)

### prep with 10K merges

In [60]:
java_java_path = "/home/lv71161/hlibbabii/raw_datasets/allamanis/small_chunk_19-05-22T17-59-55_preprocessed_00900_small_chunk-10000"
java_python_path = "/home/lv71161/hlibbabii/raw_datasets/allamanis/small_chunk_19-05-22T17-59-55_preprocessed_00900_python-10000"
java_c_path = "/home/lv71161/hlibbabii/raw_datasets/allamanis/small_chunk_19-05-22T17-59-55_preprocessed_00900_c-10000"

python_java_path = "/home/lv71161/hlibbabii/raw_datasets/python_19-05-20T00-48-25_preprocessed_00900_small_chunk-10000"
python_python_path = "/home/lv71161/hlibbabii/raw_datasets/python_19-05-20T00-48-25_preprocessed_00900_python-10000"
python_c_path = "/home/lv71161/hlibbabii/raw_datasets/python_19-05-20T00-48-25_preprocessed_00900_c-10000"

c_java_path = "/home/lv71161/hlibbabii/raw_datasets/c_19-05-24T08-55-52_preprocessed_00900_small_chunk-10000"
c_python_path = "/home/lv71161/hlibbabii/raw_datasets/c_19-05-24T08-55-52_preprocessed_00900_python-10000"
c_c_path= "/home/lv71161/hlibbabii/raw_datasets/c_19-05-24T08-55-52_preprocessed_00900_c-10000"

In [61]:
%%bash -s "$java_java_path" "$java_python_path" "$java_c_path"
echo "java corpus prep with bpe codes learn on the corpora: java, python, c; CASE"
source "$HOME/.bashrc"
n1=$(tc "$1")
n2=$(tc "$2")
n3=$(tc "$3")
n=$n1
for ni in $n1 $n2 $n3; do
    echo "print(f\"${ni} ({${ni}/${n}:.3f})\")" | python
done

java corpus prep with bpe codes learn on the corpora: java, python, c; CASE
15776027 (1.000)
17508868 (1.110)
19036770 (1.207)

In [65]:
%%bash -s "$python_java_path" "$python_python_path" "$python_c_path"
echo "python corpus prep with bpe codes learn on the corpora: java, python, c; CASE"
source "$HOME/.bashrc"
n1=$(tc "$1")
n2=$(tc "$2")
n3=$(tc "$3")
n=$n2
for ni in $n1 $n2 $n3; do
    echo "print(f\"${ni} ({${ni}/${n}:.3f})\")" | python
done

python corpus prep with bpe codes learn on the corpora: java, python, c; CASE
51359176 (1.113)
46159411 (1.000)
52852048 (1.145)

In [63]:
%%bash -s "$c_java_path" "$c_python_path" "$c_c_path"
echo "c corpus prep with bpe codes learn on the corpora: java, python, c; CASE"
source "$HOME/.bashrc"
n1=$(tc "$1")
n2=$(tc "$2")
n3=$(tc "$3")
n=$n3
for ni in $n1 $n2 $n3; do
    echo "print(f\"${ni} ({${ni}/${n}:.3f})\")" | python
done

c corpus prep with bpe codes learn on the corpora: java, python, c; CASE
140787203 (1.144)
140231349 (1.139)
123069450 (1.000)

### prep with 10K merges, NO case

In [54]:
java_java_nocase_path="/home/lv71161/hlibbabii/raw_datasets/allamanis/small_chunk_nocase_19-05-24T19-40-05_preprocessed_00901_small_chunk_nocase-10000"
java_python_nocase_path="/home/lv71161/hlibbabii/raw_datasets/allamanis/small_chunk_nocase_19-05-24T19-40-05_preprocessed_00901_python_nocase-10000"
java_c_nocase_path="/home/lv71161/hlibbabii/raw_datasets/allamanis/small_chunk_nocase_19-05-24T19-40-05_preprocessed_00901_c_nocase-10000"

python_java_nocase_path="/home/lv71161/hlibbabii/raw_datasets/python_nocase_19-05-24T19-41-52_preprocessed_00901_small_chunk_nocase-10000"
python_python_nocase_path="/home/lv71161/hlibbabii/raw_datasets/python_nocase_19-05-24T19-41-52_preprocessed_00901_python_nocase-10000"
python_c_nocase_path="/home/lv71161/hlibbabii/raw_datasets/python_nocase_19-05-24T19-41-52_preprocessed_00901_c_nocase-10000"

c_java_nocase_path="/home/lv71161/hlibbabii/raw_datasets/c_nocase_19-05-24T19-41-10_preprocessed_00901_small_chunk_nocase-10000"
c_python_nocase_path="/home/lv71161/hlibbabii/raw_datasets/c_nocase_19-05-24T19-41-10_preprocessed_00901_python_nocase-10000"
c_c_nocase_path="/home/lv71161/hlibbabii/raw_datasets/c_nocase_19-05-24T19-41-10_preprocessed_00901_c_nocase-10000"

In [55]:
%%bash -s "$java_java_nocase_path" "$java_python_nocase_path" "$java_c_nocase_path"
echo "java corpus prep with bpe codes learn on the corpora: java, python, c; NO case"
source "$HOME/.bashrc"
n1=$(tc "$1")
n2=$(tc "$2")
n3=$(tc "$3")
n=$n1
for ni in $n1 $n2 $n3; do
    echo "print(f\"${ni} ({${ni}/${n}:.3f})\")" | python
done

java corpus prep with bpe codes learn on the corpora: java, python, c; NO case
17532443 (1.000)
18533237 (1.057)
19495142 (1.112)

In [56]:
%%bash -s "$python_java_nocase_path" "$python_python_nocase_path" "$python_c_nocase_path"
echo "python corpus prep with bpe codes learn on the corpora: java, python, c; NO case"
source "$HOME/.bashrc"
n1=$(tc "$1")
n2=$(tc "$2")
n3=$(tc "$3")
n=$n2
for ni in $n1 $n2 $n3; do
    echo "print(f\"${ni} ({${ni}/${n}:.3f})\")" | python
done

python corpus prep with bpe codes learn on the corpora: java, python, c; NO case
103404272 (1.100)
94029664 (1.000)
104268904 (1.109)

In [57]:
%%bash -s "$c_java_nocase_path" "$c_python_nocase_path" "$c_c_nocase_path"
echo "c corpus prep with bpe codes learn on the corpora: java, python, c; NO case"
source "$HOME/.bashrc"
n1=$(tc "$1")
n2=$(tc "$2")
n3=$(tc "$3")
n=$n3
for ni in $n1 $n2 $n3; do
    echo "print(f\"${ni} ({${ni}/${n}:.3f})\")" | python
done

c corpus prep with bpe codes learn on the corpora: java, python, c; NO case
140329184 (1.113)
140093125 (1.111)
126129377 (1.000)