* [Setting things up](#setting-things-up)
* [Pearson matrixes](#pearson-matrixes)
    * [1K merges](#pearson-matrixes)
    * [100k merges](#pearson-matrixes-100k-merges)
* [Cooccurrences](#cooccurrences)
    * [1K merges](#cooccurrences)
    * [100k merges](#cooccurrences-100k-merges)
* [Java vs Python](#java-vs-python)

<a id="setting-things-up"></a>

## Setting things up
### Settings and imports

In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
import os
from pandas import DataFrame
from typing import List

from metrics.vector import pearson
from metrics.merge import Merge, read_merges
from metrics.matrix import pearson_matrix, cooccurence_matrix

### Util methods

In [9]:
def first_n_merges(merges: List[List[Merge]], n: int) -> List[List[Merge]]:
    return list(map(lambda l: l[:n], merges))

### Setting up paths

In [5]:
HOME = '/home/lv71161/hlibbabii'

In [6]:
PATH_TO_METADATA = os.path.join(HOME, 'prep_datasets/v2/nodup_en_only/metadata')
PATH_TO_BPE_CODES_FOLDER = os.path.join(HOME, 'log-recommender-dataprep/bpe-codes')

In [7]:
PATH_TO_METADATA_CASE = os.path.join(PATH_TO_METADATA, '001000')
PATH_TO_METADATA_NOCASE = os.path.join(PATH_TO_METADATA, '001001')
PATH_TO_BPE_CODES_FOLDER_CASE = os.path.join(PATH_TO_BPE_CODES_FOLDER, 'case')
PATH_TO_BPE_CODES_FOLDER_NOCASE = os.path.join(PATH_TO_BPE_CODES_FOLDER, 'nocase')

### Loading BPE merges

In [11]:
full_merges_list_10_case = [read_merges(os.path.join(PATH_TO_BPE_CODES_FOLDER_CASE, f'10_{chunk}.txt')) for chunk in range(10)]
full_merges_list_20_case = [read_merges(os.path.join(PATH_TO_BPE_CODES_FOLDER_CASE, f'20_{chunk}.txt')) for chunk in range(5)]
full_merges_list_10_nocase = [read_merges(os.path.join(PATH_TO_BPE_CODES_FOLDER_NOCASE, f'10_{chunk}.txt')) for chunk in range(10)]
full_merges_list_20_nocase = [read_merges(os.path.join(PATH_TO_BPE_CODES_FOLDER_NOCASE, f'20_{chunk}.txt')) for chunk in range(5)]

#### Checking contents of some lists...

In [7]:
full_merges_list_10_case[0][:10]

[('e', 'r'): 10083236,
 ('i', 'n'): 8162641,
 ('o', 'n'): 7676160,
 ('o', 'r'): 7601275,
 ('e', 't'): 6853557,
 ('a', 't'): 6463709,
 ('e', 'n'): 6436192,
 ('e', 's'): 5622049,
 ('t', 'h'): 4936728,
 ('a', 'l'): 4753658]

In [8]:
full_merges_list_20_nocase[4][:10]

[('e', 'r'): 21493741,
 ('i', 'n'): 21026960,
 ('r', 'e'): 17729548,
 ('o', 'n'): 17659507,
 ('s', 't'): 15902251,
 ('o', 'r'): 15230588,
 ('a', 't'): 14963476,
 ('e', 'n'): 14152630,
 ('t', 'h'): 12383901,
 ('l', 'i'): 11245604]

<a id="pearson-matrixes"></a>

## Pearson matrixes

### 1k merges

In [9]:
m = pearson_matrix(first_n_merges(full_merges_list_10_case, 1000))
DataFrame(m).round(3)

       0      1      2      3      4      5      6      7      8      9
0  1.000  0.909  0.976  0.977  0.941  0.940  0.970  0.928  0.981  0.950
1  0.909  1.000  0.931  0.928  0.927  0.952  0.923  0.953  0.904  0.923
2  0.976  0.931  1.000  0.990  0.959  0.961  0.986  0.952  0.968  0.964
3  0.977  0.928  0.990  1.000  0.954  0.959  0.987  0.946  0.967  0.963
4  0.941  0.927  0.959  0.954  1.000  0.924  0.953  0.916  0.934  0.929
5  0.940  0.952  0.961  0.959  0.924  1.000  0.957  0.983  0.946  0.953
6  0.970  0.923  0.986  0.987  0.953  0.957  1.000  0.946  0.963  0.957
7  0.928  0.953  0.952  0.946  0.916  0.983  0.946  1.000  0.937  0.960
8  0.981  0.904  0.968  0.967  0.934  0.946  0.963  0.937  1.000  0.954
9  0.950  0.923  0.964  0.963  0.929  0.953  0.957  0.960  0.954  1.000

In [10]:
m = pearson_matrix(first_n_merges(full_merges_list_10_nocase, 1000))
DataFrame(m).round(3)

       0      1      2      3      4      5      6      7      8      9
0  1.000  0.956  0.916  0.917  0.914  0.884  0.957  0.919  0.925  0.989
1  0.956  1.000  0.961  0.958  0.963  0.936  0.987  0.960  0.955  0.954
2  0.916  0.961  1.000  0.988  0.993  0.961  0.958  0.988  0.924  0.915
3  0.917  0.958  0.988  1.000  0.989  0.962  0.962  0.993  0.931  0.918
4  0.914  0.963  0.993  0.989  1.000  0.965  0.961  0.989  0.929  0.916
5  0.884  0.936  0.961  0.962  0.965  1.000  0.931  0.963  0.959  0.886
6  0.957  0.987  0.958  0.962  0.961  0.931  1.000  0.964  0.957  0.958
7  0.919  0.960  0.988  0.993  0.989  0.963  0.964  1.000  0.931  0.919
8  0.925  0.955  0.924  0.931  0.929  0.959  0.957  0.931  1.000  0.925
9  0.989  0.954  0.915  0.918  0.916  0.886  0.958  0.919  0.925  1.000

In [11]:
m = pearson_matrix(first_n_merges(full_merges_list_20_case, 1000))
DataFrame(m).round(3)

       0      1      2      3      4
0  1.000  0.995  0.978  0.988  0.996
1  0.995  1.000  0.977  0.988  0.996
2  0.978  0.977  1.000  0.984  0.978
3  0.988  0.988  0.984  1.000  0.989
4  0.996  0.996  0.978  0.989  1.000

In [12]:
m = pearson_matrix(first_n_merges(full_merges_list_10_nocase, 1000))
DataFrame(m).round(3)

       0      1      2      3      4      5      6      7      8      9
0  1.000  0.956  0.916  0.917  0.914  0.884  0.957  0.919  0.925  0.989
1  0.956  1.000  0.961  0.958  0.963  0.936  0.987  0.960  0.955  0.954
2  0.916  0.961  1.000  0.988  0.993  0.961  0.958  0.988  0.924  0.915
3  0.917  0.958  0.988  1.000  0.989  0.962  0.962  0.993  0.931  0.918
4  0.914  0.963  0.993  0.989  1.000  0.965  0.961  0.989  0.929  0.916
5  0.884  0.936  0.961  0.962  0.965  1.000  0.931  0.963  0.959  0.886
6  0.957  0.987  0.958  0.962  0.961  0.931  1.000  0.964  0.957  0.958
7  0.919  0.960  0.988  0.993  0.989  0.963  0.964  1.000  0.931  0.919
8  0.925  0.955  0.924  0.931  0.929  0.959  0.957  0.931  1.000  0.925
9  0.989  0.954  0.915  0.918  0.916  0.886  0.958  0.919  0.925  1.000

<a id="pearson-matrixes-100k-merges"></a>

### 100K merges

In [13]:
m = pearson_matrix(first_n_merges(full_merges_list_10_case, 100000))
DataFrame(m).round(3)

/home/lv71161/hlibbabii/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Persisting input arguments took 1.28s to run.
If this happens often in your code, it can cause performance problems
(results will be correct in all cases).
The reason for this is probably some large input arguments for a wrapped
 function (e.g. large strings).
THIS IS A JOBLIB ISSUE. If you can, kindly provide the joblib's team with an
 example so that they can fix the problem.
  """Entry point for launching an IPython kernel.

       0      1      2      3      4      5      6      7      8      9
0  1.000  0.922  0.979  0.981  0.950  0.949  0.975  0.939  0.984  0.957
1  0.922  1.000  0.941  0.939  0.937  0.959  0.934  0.960  0.918  0.934
2  0.979  0.941  1.000  0.992  0.965  0.967  0.989  0.959  0.973  0.970
3  0.981  0.939  0.992  1.000  0.961  0.965  0.989  0.954  0.972  0.969
4  0.950  0.937  0.965  0.961  1.000  0.935  0.960  0.928  0.944  0.940
5  0.949  0.959  0.967  0.965  0.935  1.000  0.964  0.986  0.955  0.960
6  0.975  0.934  0.989  0.989  0.960  0.964  1.000  0.954  0.969  0.964
7  0.939  0.960  0.959  0.954  0.928  0.986  0.954  1.000  0.947  0.966
8  0.984  0.918  0.973  0.972  0.944  0.955  0.969  0.947  1.000  0.961
9  0.957  0.934  0.970  0.969  0.940  0.960  0.964  0.966  0.961  1.000

In [14]:
m = pearson_matrix(first_n_merges(full_merges_list_10_nocase, 100000))
DataFrame(m).round(3)

/home/lv71161/hlibbabii/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Persisting input arguments took 1.38s to run.
If this happens often in your code, it can cause performance problems
(results will be correct in all cases).
The reason for this is probably some large input arguments for a wrapped
 function (e.g. large strings).
THIS IS A JOBLIB ISSUE. If you can, kindly provide the joblib's team with an
 example so that they can fix the problem.
  """Entry point for launching an IPython kernel.

       0      1      2      3      4      5      6      7      8      9
0  1.000  0.962  0.927  0.928  0.925  0.899  0.963  0.930  0.935  0.990
1  0.962  1.000  0.966  0.964  0.968  0.945  0.989  0.966  0.961  0.961
2  0.927  0.966  1.000  0.990  0.994  0.967  0.964  0.990  0.934  0.926
3  0.928  0.964  0.990  1.000  0.991  0.967  0.968  0.994  0.940  0.929
4  0.925  0.968  0.994  0.991  1.000  0.970  0.967  0.991  0.939  0.927
5  0.899  0.945  0.967  0.967  0.970  1.000  0.941  0.968  0.965  0.901
6  0.963  0.989  0.964  0.968  0.967  0.941  1.000  0.969  0.963  0.964
7  0.930  0.966  0.990  0.994  0.991  0.968  0.969  1.000  0.941  0.930
8  0.935  0.961  0.934  0.940  0.939  0.965  0.963  0.941  1.000  0.935
9  0.990  0.961  0.926  0.929  0.927  0.901  0.964  0.930  0.935  1.000

In [15]:
m = pearson_matrix(first_n_merges(full_merges_list_20_case, 100000))
DataFrame(m).round(3)

/home/lv71161/hlibbabii/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Persisting input arguments took 0.62s to run.
If this happens often in your code, it can cause performance problems
(results will be correct in all cases).
The reason for this is probably some large input arguments for a wrapped
 function (e.g. large strings).
THIS IS A JOBLIB ISSUE. If you can, kindly provide the joblib's team with an
 example so that they can fix the problem.
  """Entry point for launching an IPython kernel.

       0      1      2      3      4
0  1.000  0.996  0.982  0.990  0.997
1  0.996  1.000  0.981  0.990  0.996
2  0.982  0.981  1.000  0.987  0.981
3  0.990  0.990  0.987  1.000  0.991
4  0.997  0.996  0.981  0.991  1.000

In [16]:
m = pearson_matrix(first_n_merges(full_merges_list_20_nocase, 100000))
DataFrame(m).round(3)

/home/lv71161/hlibbabii/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Persisting input arguments took 0.65s to run.
If this happens often in your code, it can cause performance problems
(results will be correct in all cases).
The reason for this is probably some large input arguments for a wrapped
 function (e.g. large strings).
THIS IS A JOBLIB ISSUE. If you can, kindly provide the joblib's team with an
 example so that they can fix the problem.
  """Entry point for launching an IPython kernel.

       0      1      2      3      4
0  1.000  0.996  0.992  0.969  0.966
1  0.996  1.000  0.993  0.970  0.966
2  0.992  0.993  1.000  0.967  0.963
3  0.969  0.970  0.967  1.000  0.939
4  0.966  0.966  0.963  0.939  1.000

<a id="cooccurrences"></a>

### Cooccurrences

#### 1K merges

In [12]:
m=cooccurence_matrix(first_n_merges(full_merges_list_10_case, 1000), first_n_merges(full_merges_list_10_case, 1000))
DataFrame(m).round(3)

       0      1      2      3      4      5      6      7      8      9
0  1.000  0.712  0.786  0.820  0.760  0.760  0.786  0.751  0.818  0.772
1  0.712  1.000  0.737  0.734  0.744  0.765  0.720  0.781  0.729  0.708
2  0.786  0.737  1.000  0.821  0.803  0.783  0.814  0.778  0.804  0.765
3  0.820  0.734  0.821  1.000  0.777  0.778  0.830  0.749  0.805  0.779
4  0.760  0.744  0.803  0.777  1.000  0.744  0.784  0.758  0.770  0.729
5  0.760  0.765  0.783  0.778  0.744  1.000  0.762  0.809  0.783  0.745
6  0.786  0.720  0.814  0.830  0.784  0.762  1.000  0.769  0.799  0.755
7  0.751  0.781  0.778  0.749  0.758  0.809  0.769  1.000  0.769  0.761
8  0.818  0.729  0.804  0.805  0.770  0.783  0.799  0.769  1.000  0.748
9  0.772  0.708  0.765  0.779  0.729  0.745  0.755  0.761  0.748  1.000

In [13]:
m=cooccurence_matrix(first_n_merges(full_merges_list_10_nocase, 1000), first_n_merges(full_merges_list_10_nocase, 1000))
DataFrame(m).round(3)

       0      1      2      3      4      5      6      7      8      9
0  1.000  0.755  0.720  0.722  0.708  0.711  0.742  0.718  0.746  0.800
1  0.755  1.000  0.753  0.757  0.760  0.760  0.832  0.767  0.817  0.752
2  0.720  0.753  1.000  0.844  0.837  0.793  0.776  0.844  0.760  0.743
3  0.722  0.757  0.844  1.000  0.839  0.826  0.781  0.856  0.770  0.751
4  0.708  0.760  0.837  0.839  1.000  0.807  0.794  0.829  0.774  0.738
5  0.711  0.760  0.793  0.826  0.807  1.000  0.736  0.799  0.778  0.713
6  0.742  0.832  0.776  0.781  0.794  0.736  1.000  0.783  0.804  0.790
7  0.718  0.767  0.844  0.856  0.829  0.799  0.783  1.000  0.761  0.745
8  0.746  0.817  0.760  0.770  0.774  0.778  0.804  0.761  1.000  0.765
9  0.800  0.752  0.743  0.751  0.738  0.713  0.790  0.745  0.765  1.000

In [16]:
m=cooccurence_matrix(first_n_merges(full_merges_list_20_case, 1000), first_n_merges(full_merges_list_20_case, 1000))
DataFrame(m).round(3)

       0      1      2      3      4
0  1.000  0.864  0.825  0.840  0.880
1  0.864  1.000  0.850  0.849  0.877
2  0.825  0.850  1.000  0.858  0.841
3  0.840  0.849  0.858  1.000  0.859
4  0.880  0.877  0.841  0.859  1.000

In [15]:
m=cooccurence_matrix(first_n_merges(full_merges_list_20_nocase, 1000), first_n_merges(full_merges_list_20_nocase, 1000))
DataFrame(m).round(3)

       0      1      2      3      4
0  1.000  0.851  0.860  0.789  0.855
1  0.851  1.000  0.884  0.805  0.859
2  0.860  0.884  1.000  0.812  0.856
3  0.789  0.805  0.812  1.000  0.770
4  0.855  0.859  0.856  0.770  1.000

<a id="cooccurrences-100k-merges"></a>

#### 100K merges

In [17]:
m=cooccurence_matrix(first_n_merges(full_merges_list_10_case, 100000), first_n_merges(full_merges_list_10_case, 100000))
DataFrame(m).round(3)

/home/lv71161/hlibbabii/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Persisting input arguments took 2.43s to run.
If this happens often in your code, it can cause performance problems
(results will be correct in all cases).
The reason for this is probably some large input arguments for a wrapped
 function (e.g. large strings).
THIS IS A JOBLIB ISSUE. If you can, kindly provide the joblib's team with an
 example so that they can fix the problem.
  """Entry point for launching an IPython kernel.

       0      1      2      3      4      5      6      7      8      9
0  1.000  0.450  0.470  0.488  0.472  0.471  0.462  0.454  0.482  0.472
1  0.450  1.000  0.452  0.453  0.453  0.461  0.440  0.462  0.442  0.444
2  0.470  0.452  1.000  0.483  0.476  0.465  0.468  0.458  0.466  0.463
3  0.488  0.453  0.483  1.000  0.483  0.481  0.474  0.465  0.473  0.472
4  0.472  0.453  0.476  0.483  1.000  0.467  0.473  0.460  0.469  0.461
5  0.471  0.461  0.465  0.481  0.467  1.000  0.458  0.468  0.463  0.469
6  0.462  0.440  0.468  0.474  0.473  0.458  1.000  0.454  0.458  0.453
7  0.454  0.462  0.458  0.465  0.460  0.468  0.454  1.000  0.452  0.455
8  0.482  0.442  0.466  0.473  0.469  0.463  0.458  0.452  1.000  0.464
9  0.472  0.444  0.463  0.472  0.461  0.469  0.453  0.455  0.464  1.000

In [18]:
m=cooccurence_matrix(first_n_merges(full_merges_list_10_nocase, 100000), first_n_merges(full_merges_list_10_nocase, 100000))
DataFrame(m).round(3)

/home/lv71161/hlibbabii/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Persisting input arguments took 2.44s to run.
If this happens often in your code, it can cause performance problems
(results will be correct in all cases).
The reason for this is probably some large input arguments for a wrapped
 function (e.g. large strings).
THIS IS A JOBLIB ISSUE. If you can, kindly provide the joblib's team with an
 example so that they can fix the problem.
  """Entry point for launching an IPython kernel.

       0      1      2      3      4      5      6      7      8      9
0  1.000  0.417  0.395  0.414  0.410  0.413  0.400  0.392  0.408  0.435
1  0.417  1.000  0.395  0.408  0.409  0.403  0.410  0.400  0.406  0.404
2  0.395  0.395  1.000  0.422  0.425  0.410  0.391  0.414  0.389  0.398
3  0.414  0.408  0.422  1.000  0.442  0.432  0.406  0.429  0.400  0.412
4  0.410  0.409  0.425  0.442  1.000  0.435  0.415  0.427  0.414  0.406
5  0.413  0.403  0.410  0.432  0.435  1.000  0.402  0.414  0.408  0.412
6  0.400  0.410  0.391  0.406  0.415  0.402  1.000  0.406  0.397  0.399
7  0.392  0.400  0.414  0.429  0.427  0.414  0.406  1.000  0.396  0.394
8  0.408  0.406  0.389  0.400  0.414  0.408  0.397  0.396  1.000  0.402
9  0.435  0.404  0.398  0.412  0.406  0.412  0.399  0.394  0.402  1.000

In [ ]:
m=cooccurence_matrix(first_n_merges(full_merges_list_20_case, 100000), first_n_merges(full_merges_list_20_case, 100000))
DataFrame(m).round(3)

In [ ]:
m=cooccurence_matrix(first_n_merges(full_merges_list_20_nocase, 100000), first_n_merges(full_merges_list_20_nocase, 100000))
DataFrame(m).round(3)

<a id='java-vs-python'></a>

### Python vs Java Experiments

In [4]:
python_merges_file = os.path.join(HOME, 'merges_python.txt')  
java_merges_file = os.path.join(HOME, 'merges_java.txt')

In [9]:
python_merges = read_merges(python_merges_file)
print(f"N merges: {len(python_merges)}")
python_merges[:10]

N merges: 10000

[('\\', "'"): 1534342,
 ('s', 'e'): 1368069,
 ('r', 'e'): 1005240,
 ('i', 'n'): 953502,
 ('t', 'e'): 928383,
 ('o', 'n'): 882937,
 ('s', 't'): 745319,
 ('o', 'r'): 712654,
 ('d', 'e'): 705800,
 ('l', 'e'): 692543]

In [10]:
java_merges = read_merges(java_merges_file)
print(f"N merges: {len(java_merges)}")
java_merges[:10]

N merges: 10000

[('e', 'r'): 10592011,
 ('i', 'n'): 9801205,
 ('r', 'e'): 8420049,
 ('o', 'n'): 8161640,
 ('s', 't'): 7859077,
 ('o', 'r'): 7628003,
 ('t', 'e'): 6942543,
 ('t', 'h'): 6223599,
 ('t', 'i'): 6134045,
 ('e', 'n'): 6073945]

### Pearson - 1k merges

In [12]:
pearson(java_merges[:1000], python_merges[:1000])

0.7488345231752735

### Pearson - 10k merges

In [11]:
pearson(java_merges[:10000], python_merges[:10000])

0.7730778065118366

### Cooccurrences - 1k merges

In [14]:
cooccurence_matrix([java_merges[:1000]], [python_merges[:1000]])

[[0.514]]

### Cooccurrences - 10k merges

In [13]:
cooccurence_matrix([java_merges[:10000]], [python_merges[:10000]])

[[0.452]]